<!--menu.html-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="full-menu">
  <a class="navbar-brand" href="/"><h3>
    <b class="text-primary">NULE</b><b class="text-success">S</b><b class="text-warning">andbox</b>
  </h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <img src='/static/pics/flags{{ if ne .loc "UA"}}EN{{end}}.png' alt="Мова" id="localization" width="50">
    <ul class="navbar-nav mr-auto">

      {{ if eq .logged false}}
      <!-- Sign In -->
      <li class="nav-item">
        <button type="button" class="nav-button font-weight-bold btn btn-primary" data-toggle="modal" data-target="#loginModal">{{ .signIn }}</button>
        <div class="modal " id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">{{ .signIn }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <!-- <form class="form"> -->
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="username">{{ .login }}</label>
                      <input type="text" class="form-control" id="username" name="username" placeholder="{{ .login }}">
                    </div>
                    <div class="form-group">
                      <label for="password">{{ .password }}</label>
                      <input type="password" name="password" class="form-control" id="password" placeholder="{{ .password }}">
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" name="check" id="check">
                      <label class="form-check-label pl-2" for="check">{{ .remember }}</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button id="buttonLogin" class="btn btn-primary">{{ .signIn }}</button>
                    <button id="modalClose" type="button" class="btn btn-secondary" data-dismiss="modal">{{ .close }}</button>
                  </div>
                <!-- </form> -->
            </div>
          </div>
        </div>
      </li>
      
      <!-- Sign Up -->
      <li class="nav-item">
        <button type="button" class="nav-button text-primary font-weight-bold btn btn-light" data-toggle="modal" data-target="#registerModal">{{ .reg }}</button>

        <div class="modal " id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">{{ .reg }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <!-- <form class="form" action="/" method="POST"> -->
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="emailReg">{{ .email }}</label>
                      <input type="email" class="form-control" id="emailReg" name="emailReg" placeholder="example@mail.com">
                    </div>
                    <div class="form-group">
                      <label for="usernameReg">{{ .login }}</label>
                      <input type="text" class="form-control" id="usernameReg" name="usernameReg" placeholder="{{ .login }}">
                    </div>
                    <div class="form-group">
                      <label for="passwordReg">{{ .password }}</label>
                      <input type="password" name="passwordReg" class="form-control" id="passwordReg" placeholder="{{ .password }}">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button id="buttonReg" type="submit" class="btn btn-primary">{{ .reg }}</button>
                    <button id="modalCloseReg" type="button" class="btn btn-secondary" data-dismiss="modal">{{ .close }}</button>
                  </div>
                <!-- </form> -->
            </div>
          </div>
        </div>
      </li>
      {{end}}

      {{ if .logged }}
      <li class="nav-item font-weight-bold btn btn-info">
        <a class="text-light" href="/logout">{{ .logout }}</a>
      </li>
      {{end}}

    </ul>
  </div>
</nav>

{{ if .messageError}}
<p class="bg-danger dropdown-item text-white font-weight-bold" id="messageError">
  {{.messageError}}
</p>
<script>
  setTimeout(() => $( "#messageError" ).remove(), 2500);
</script>
{{end}}

{{ if .messageOK}}
<p class="bg-success dropdown-item text-white font-weight-bold" id="messageOK">
  {{.messageOK}}
</p>
<script>
  setTimeout(() => $( "#messageOK" ).remove(), 2500);
</script>
{{end}}

<p id="errorMenu"></p>

<div class="container">

