<!--article.html-->

{{ template "header.html" .}}

<div class="card mt-3">
  <div class="card-header">
    <h4 id="articleTitle">{{.title}}</h4>
  </div>
  <div class="card-body">
    <p class="h5 card-text">{{.description}}</p>

  <br>
    <div class="accordion" id="accordionTerritory">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{.history}}
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionTerritory">
          <div class="card-body">
            {{.hhistory}}
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              {{.details}}
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTerritory">
          <div class="card-body">
            {{.ddetails}}
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              {{.photo}}
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionTerritory">
          <div class="card-body">

            <div class="d-flex bd-highlight">
              <div class="p-2 flex-fill bd-highlight"><img src='/static/pics/{{.pphoto}}1.jpg' alt="Мова" id="localization" width="100%"></div>
              <div class="p-2 flex-fill bd-highlight"><img src='/static/pics/{{.pphoto}}2.jpg' alt="Мова" id="localization" width="100%"></div>
              <div class="p-2 flex-fill bd-highlight"><img src='/static/pics/{{.pphoto}}3.jpg' alt="Мова" id="localization" width="100%"></div>
            </div>

          </div>
        </div>
      </div>

    </div>

    {{if .allowed}}
    <br><br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="changings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{.changeTerr}}
      </button>
      <div class="dropdown-menu" aria-labelledby="changings">
    {{range .allowed }}
        <a class="dropdown-item changeTerr" terr="{{.Tid}}" id="{{.Bid}}">{{.Name}}</a>
    {{end}}
      </div>
    </div>
    {{end}}

    <br>
    <a href="/" class="h5 btn btn-secondary">{{.main}}</a>
  </div>
</div>


{{ template "footer.html" .}}