
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts-wordcloud.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/themes/infographic.js"></script>
</head>

<body>
<div class="container">
    <div class="item" id="UqDpztehJsHP" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_UqDpztehJsHP = echarts.init(document.getElementById('UqDpztehJsHP'), "infographic");
    let option_UqDpztehJsHP = {"legend":{"show":false},"series":[{"name":"wordcloud","type":"wordCloud","waveAnimation":false,"shape":"cardioid","sizeRange":[18,80],"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"name":"Паркова зона","value":9057},{"name":"Площа перед корпусом №1","value":9395},{"name":"Студентський сквер","value":7789},{"name":"Кулиничі біля корпусу №3","value":8230},{"name":"Стадіон","value":8495}],"textStyle":{"normal":{"color":function () {return 'rgb(' + [Math.round(Math.random() * 160),Math.round(Math.random() * 160),Math.round(Math.random() * 160)].join(',') + ')';}}}}],"title":{"text":"Яка стара територія найчастіше змінювана? Діаграма хмари слів","textStyle":{"fontStyle":"bold"}},"tooltip":{"show":false}};
    goecharts_UqDpztehJsHP.setOption(option_UqDpztehJsHP);
</script>

<style>
    .container {margin-top:30px; display: flex;justify-content: center;align-items: center;}
    .item {margin: auto;}
</style>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts-wordcloud.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/themes/infographic.js"></script>
</head>

<body>
<div class="container">
    <div class="item" id="bjdbQneHkwwd" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_bjdbQneHkwwd = echarts.init(document.getElementById('bjdbQneHkwwd'), "infographic");
    let option_bjdbQneHkwwd = {"legend":{"show":false},"series":[{"name":"wordcloud","type":"wordCloud","waveAnimation":false,"shape":"cardioid","sizeRange":[18,80],"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"name":"Алея сакури","value":9918},{"name":"Кінотеатр","value":5919},{"name":"Торгово-розважальний центр","value":5258},{"name":"Пустка","value":6363},{"name":"Ашан","value":8839}],"textStyle":{"normal":{"color":function () {return 'rgb(' + [Math.round(Math.random() * 160),Math.round(Math.random() * 160),Math.round(Math.random() * 160)].join(',') + ')';}}}}],"title":{"text":"Яка нова територія найчастіше встановлена? Діаграма хмари слів","textStyle":{"fontStyle":"bold"}},"tooltip":{"show":false}};
    goecharts_bjdbQneHkwwd.setOption(option_bjdbQneHkwwd);
</script>

<style>
    .container {margin-top:30px; display: flex;justify-content: center;align-items: center;}
    .item {margin: auto;}
</style>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts-wordcloud.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/themes/infographic.js"></script>
</head>

<body>
<div class="container">
    <div class="item" id="VwipXWlJmutO" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_VwipXWlJmutO = echarts.init(document.getElementById('VwipXWlJmutO'), "infographic");
    let option_VwipXWlJmutO = {"legend":{"show":false},"series":[{"name":"wordcloud","type":"wordCloud","waveAnimation":false,"shape":"cardioid","sizeRange":[18,80],"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"name":"Вже не навчаюсь","value":9935},{"name":"Я викладач","value":8661},{"name":"Я абітурієнт","value":9812},{"name":"Бакалавр 1-2","value":6578},{"name":"Бакалавр 3-4 / Скорочений термін навчання","value":5925},{"name":"Магістратура","value":9135}],"textStyle":{"normal":{"color":function () {return 'rgb(' + [Math.round(Math.random() * 160),Math.round(Math.random() * 160),Math.round(Math.random() * 160)].join(',') + ')';}}}}],"title":{"text":"На якому курсі Ви навчаєтесь? Діаграма хмари слів","textStyle":{"fontStyle":"bold"}},"tooltip":{"show":false}};
    goecharts_VwipXWlJmutO.setOption(option_VwipXWlJmutO);
</script>

<style>
    .container {margin-top:30px; display: flex;justify-content: center;align-items: center;}
    .item {margin: auto;}
</style>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts-wordcloud.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/themes/infographic.js"></script>
</head>

<body>
<div class="container">
    <div class="item" id="EMSeUIMLTPUQ" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_EMSeUIMLTPUQ = echarts.init(document.getElementById('EMSeUIMLTPUQ'), "infographic");
    let option_EMSeUIMLTPUQ = {"legend":{"show":false},"series":[{"name":"wordcloud","type":"wordCloud","waveAnimation":false,"shape":"cardioid","sizeRange":[18,80],"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"name":"Раніше навчався в НУБІП","value":9280},{"name":"Я абітурієнт","value":5885},{"name":"Я викладач в НУБіП","value":9175},{"name":"Я студент в НУБіП","value":9556}],"textStyle":{"normal":{"color":function () {return 'rgb(' + [Math.round(Math.random() * 160),Math.round(Math.random() * 160),Math.round(Math.random() * 160)].join(',') + ')';}}}}],"title":{"text":"А як щодо університету? Діаграма хмари слів","textStyle":{"fontStyle":"bold"}},"tooltip":{"show":false}};
    goecharts_EMSeUIMLTPUQ.setOption(option_EMSeUIMLTPUQ);
</script>

<style>
    .container {margin-top:30px; display: flex;justify-content: center;align-items: center;}
    .item {margin: auto;}
</style>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts-wordcloud.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/themes/infographic.js"></script>
</head>

<body>
<div class="container">
    <div class="item" id="WWxxZLSAGcMu" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_WWxxZLSAGcMu = echarts.init(document.getElementById('WWxxZLSAGcMu'), "infographic");
    let option_WWxxZLSAGcMu = {"legend":{"show":false},"series":[{"name":"wordcloud","type":"wordCloud","waveAnimation":false,"shape":"cardioid","sizeRange":[18,80],"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"name":"Не знаю / Не живу в гуртожику","value":9012},{"name":"Ні: Все добре","value":8425},{"name":"Скоріше ні, але існують деякі неприємні моменти","value":5952},{"name":"Так, гуртожитки потребують змін","value":7276},{"name":"Обов'язково. Потрібні термінові радикальні зміни","value":6404}],"textStyle":{"normal":{"color":function () {return 'rgb(' + [Math.round(Math.random() * 160),Math.round(Math.random() * 160),Math.round(Math.random() * 160)].join(',') + ')';}}}}],"title":{"text":"Чи потребують змін гуртожитки НУБіП України? Діаграма хмари слів","textStyle":{"fontStyle":"bold"}},"tooltip":{"show":false}};
    goecharts_WWxxZLSAGcMu.setOption(option_WWxxZLSAGcMu);
</script>

<style>
    .container {margin-top:30px; display: flex;justify-content: center;align-items: center;}
    .item {margin: auto;}
</style>
</body>
</html>
